<h1>User info</h1>

<b>name:</b> <%= @user.name %>
<br>
<b>email:</b> <%= @user.email %>
<br>
<b>role:</b> <%= @user.role %>
<br>
<br>

<table>
  <tr>
    <th>items added:</th>
  </tr>
  <% if @user.items.any? %>
    <% @user.items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item_path %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>none</td>
    </tr>
  <% end %>
</table>

<br>
<% if can? :update, @user %>
  <%= link_to "edit", edit_user_path %>
<%end%>
<br>
<% if can? :destroy, @user %>
  <%= link_to "delete", @user, method: :delete, data: { confirm: "are you sure?" } %>
<% end %>