<h1>Item info</h1>

<div>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15&markers=#{@item.latitude}%2C#{@item.longitude}" %>
</div>

<div>
  <b>image:</b> <%= link_to image_tag(@item.item_image.url(:medium)), @item.item_image.url %>
  <br>
  <b>name:</b> <%= @item.name %>
  <br>
  <b>description:</b> <%= @item.description %>
  <br>
  <b>address:</b> <%= @item.address %>
  <br>
  <b>tags:</b> <%= raw @item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  <br>
  <b>added by:</b> <%= link_to @item.user.name, @item.user %>, <%= @item.created_at %>
  <br>
  <% if can? :update, @item %>
    <%= link_to "edit", edit_item_path %>
  <% end %>
  <br>
  <% if can? :destroy, @item %>
    <%= link_to "delete", @item, method: :delete, data: { confirm: "are you sure?" } %>
  <% end %>
</div>

<div>
  <table>
    <tr>
      <th>nearby items:</th>
    </tr>
    <% if @item.nearbys(100).any? %>
      <% @item.nearbys(100).each do |item| %>
        <tr>
          <td><%= image_tag item.item_image.url(:thumb) %></td>
          <td><%= link_to item.name, item %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>none</td>
      </tr>
    <% end %>
  </table>
</div>