<h1>Item info</h1>

<div id="static_map">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15&markers=#{@item.latitude}%2C#{@item.longitude}" %>
</div>

<div>
  <div class="update-destroy">
    <% if can? :update, @item %>
      <%= link_to "edit", edit_item_path %>
    <% end %>
    <% if can? :destroy, @item %>
      <%= link_to "delete", @item, method: :delete, data: { confirm: "are you sure?" } %>
    <% end %>
  </div>
  <table>
    <tr>
      <td><%= link_to image_tag(@item.item_image.url(:medium)), @item.item_image.url %></td>
    </tr>
    <tr>
      <td><b>name:</b></td>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td><b>added by:</b></td>
      <td><%= link_to @item.user.name, @item.user %>, <%= @item.created_at %></td>
    </tr>
    <tr>
      <td><b>address:</b></td>
      <td><%= @item.address %></td>
    </tr>
    <tr>
      <td><b>tags:</b></td>
      <td><%= raw @item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
    </tr>
    <tr>
      <td><b>description:</b></td>
      <td><%= @item.description %></td>
    </tr>
  </table>

  <table class="index" id="splitter">
    <% if @item.nearbys(100).any? %>
      <tr>
        <th>nearby items:</th>
      </tr>
      <% @item.nearbys(100).each do |item| %>
        <tr>
          <td><%= image_tag item.item_image.url(:thumb) %></td>
          <td><%= link_to item.name, item %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td><%= "#{@item.name} has not any nearby items" %></td>
      </tr>
    <% end %>
  </table>
</div>