<!DOCTYPE html>
<html>
<head>
  <title>FreeMarket</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><%= link_to "Add Item", new_item_path %></li>
      <li><%= link_to "Items", items_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li>
        <% if signed_in? %>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
          <li id="signed_as"><%= current_user.email %></li>
        <% else %>
          <%= link_to "Sign in", sign_in_path %>
        <% end %>
      </li>
    </ul>
  </header>

  <div>
    <%= yield %>
  </div>

  <footer>
    <div class="footer-left">
      <span>contact us:</span>
      <span>freemarket@example.com</span>
    </div>
    <div class="footer-right">
      <span>copyleft (ɔ)</span>
      <span>free to use and modify</span>
    </div>
  </footer>
</body>
</html>
